__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

.venv/
venv/
env/

.DS_Store

data/raw/*.csv
data/processed/*.csv
data/processed/*.pkl
data/processed/**/*.csv
data/processed/**/*.pkl
data/processed/**/*.npz
data/processed/**/*.npy
data/processed/**/metadata.json

models/**/*.pkl
models/**/*.joblib
models/**/*.pt
models/**/*.bin

*.zip

*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.vrb
